.gray-dot {
    background-image: -webkit-linear-gradient(top, #84827a 0%, #a5a39a 50%, #cbc8bc 100%);
}

.green-dot {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
}

.orange-dot {
    background-image: -webkit-linear-gradient(top, #f9a004 0%, #e0ac45 50%, #ead698 100%);
}


.red-dot {
    background-image: -webkit-linear-gradient(top, #fb1304 0%, #e35843 50%, #edad99 100%);
}

#fleet-info {
    display: block;
    background-color: #181f25;
    border-radius: 5px;
    color: #848484;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#fleet-info > img {
    float: right;
    position: relative;
    top: 17px;
    left: -30px;
}

#fleet-info > p {
    margin: auto;
    padding: 5px 0;
}

td form > input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #60180c 0%, #6b1d11 50%, #852014 100%);
    color: #fff;
}


input[type="number"], input[type="text"] {
    background-color: #b3c3cb;
    border: 1px solid #668599;
    border-bottom-color: #d3d9de;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 #454f54;
    color: #000;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    padding: 2px 4px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    max-width: 110px;
}

input[type="submit"].fleetInput, tr > td > input[type="submit"] {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
    color: #fff;
    text-align: center;
    height: 34px;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
input[type="submit"].on{
    background-image: -webkit-linear-gradient(top, #2d6413 0%, #4b9d15 50%, #53ba0b 100%);
    color: #fff;
}
input[type="submit"].off{
    background-image: -webkit-linear-gradient(top, #60180c 0%, #6b1d11 50%, #852014 100%);
    color: #fff;
}

.led {
    position: absolute;;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 136px;
    zoom: 2;
    width: 10px;
    height: 9px;
    box-shadow: 0px 0px 2px black;
    margin: 5px;
    border: 1px solid black;
}

.led:after {
    display: block;
    content: '';
    margin-left: 1px;
    margin-right: 1px;
    width: 8px;
    height: 6px;
    -webkit-border-top-right-radius: 4px 3px;
    -webkit-border-top-left-radius: 4px 3px;
    -webkit-border-bottom-right-radius: 4px 3px;
    -webkit-border-bottom-left-radius: 4px 3px;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}
​