.gray-dot {
    background-image: -webkit-linear-gradient(top, #84827a 0%, #a5a39a 50%, #cbc8bc 100%);
}

.green-dot {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
}

.orange-dot {
    background-image: -webkit-linear-gradient(top, #f9a004 0%, #e0ac45 50%, #ead698 100%);
}


.red-dot {
    background-image: -webkit-linear-gradient(top, #fb1304 0%, #e35843 50%, #edad99 100%);
}

.infoPanel {
    display: flex;
    background-color: #031f2a;
    border-radius: 5px;
    color: #848484;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 2px solid #204d74;
    margin: auto;
    padding: 0 40px;
}

.infoPanel label {
    display: block;
    width: 150px;
    float: left;
}

.infoPanel > img {
    float: right;
    position: relative;
    margin: 5px;
}

#fleet-info > img {
    left: 20px;
}

#raid-info > img {
    top: 2px;
    left: -1px;
}

.infoPanel > p {
    margin: auto;
    padding: 5px 0;
}

td form > input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #60180c 0%, #6b1d11 50%, #852014 100%);
    color: #fff;
    height: 18px;
}

#galaxy_form input[type="text"] {
    min-width: 0;
}

input[type="number"], input[type="text"], input:not([type="submit"]).fleetInput {
    background-color: #b3c3cb;
    border: 1px solid #668599;
    border-bottom-color: #d3d9de;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 #454f54;
    color: #000;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    padding: 2px 4px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    max-width: 110px;
}

td > select {
    height: 100%;
    min-height: 28px;
    font-size: 15px;
    min-width: 30px;
}

#messagestable input[type="submit"] {
    display: initial;
    height: 26px;
    font-size: 11px;
}

input[type="submit"].fleetInput, tr > td > input[type="submit"] {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: block;
    color: #fff;
    text-align: center;
    height: 34px;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
input[type="submit"].on{
    background-image: -webkit-linear-gradient(top, #2d6413 0%, #4b9d15 50%, #53ba0b 100%);
    color: #fff;
}
input[type="submit"].off{
    background-image: -webkit-linear-gradient(top, #60180c 0%, #6b1d11 50%, #852014 100%);
    color: #fff;
}

.led {
    position: absolute;
    border-radius: 5px;
    position: absolute;
    top: 26px;
    left: 166px;
    zoom: 2;
    width: 10px;
    height: 9px;
    box-shadow: 0px 0px 2px black;
    margin: 5px;
    border: 1px solid black;
}

.led:after {
    display: block;
    content: '';
    margin-left: 1px;
    margin-right: 1px;
    width: 8px;
    height: 6px;
    -webkit-border-top-right-radius: 4px 3px;
    -webkit-border-top-left-radius: 4px 3px;
    -webkit-border-bottom-right-radius: 4px 3px;
    -webkit-border-bottom-left-radius: 4px 3px;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.2) 100%);
}

input[type="text"].mediocre, .infoBox.mediocre {
    background-color: rgb(255, 51, 51);
}

input[type="text"].poor, .infoBox.poor {
    background-color: rgb(255, 153, 51);
}
​
input[type="text"].meh, .infoBox.meh {
    background-color: rgb(255, 255, 51);
}

input[type="text"].great, .infoBox.great {
    background-color: rgb(153, 255, 51);
}