html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #eee;
}

::selection {
    background: #4285f4;
    color: #fff;
    text-shadow: none;
}

.slate {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    background-color: #fefefe;
    margin-bottom: 10px;
    padding: 4px;
}

.slate h4 {
    -webkit-margin-before: 0.15em;
}

#heading {
    background-color: #053548;
    margin: -20px -20px 20px;
    color: #86adbe;
    padding: 10px;
}

#heading img {
    width: 96px;
}

#heading h3 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.85em;
    margin-top: 0px;
}

.inlineicon {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
}

#content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    background: #fff;
    border-radius: 2px;
    padding: 14px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}