html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: #eee;
}

::selection {
    background: #4285f4;
    color: #fff;
    text-shadow: none;
}

.slate {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    z-index: 1;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: block;
    background-color: #fefefe;
    margin-bottom: 10px;
    padding: 4px;
}

.slate h4 {
    -webkit-margin-before: 0.15em;
}

.heading {
    background-color: #053548;
    margin: -20px -20px 20px;
    color: #86adbe;
    padding: 10px;
}

.heading h3 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 1.85em;
    margin-top: 0px;
}

.inlineicon {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
}

.content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background: #fff;
    border-radius: 2px;
    padding: 14px;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.material-icons {
    font-size: 18px;
    line-height: 0;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

i.material-icons.icon-small {
    font-size: 8px;
    top: -5px;
    left: -1px;
    margin-right: -2px;
}

.color--green {
    color: #4CAF50;
}

.color--blue {
    color: #039BE5;
}

.color--red {
    color: #FF0000;
}

.color--orange {
    color: #ff8d00;
}

.color--deep-purple {
    color: #673AB7;
}

.color--gray {
    color: #6D6D6D;
}

.color--yellow {
    color: #c8ff00;
}

.color--shit {
    color: #753B01;
}

.hint {
    display: block;
    margin: 4px 0;
    padding: 6px 10px;
    box-shadow: 0 5px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    color: #CCC;
    background-color: #183f50;
    border: 1px solid #0a5572;
    border-radius: 2px;
}

.hint p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.hint img {
    vertical-align: bottom;
}