<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title class="trn">Combat log</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../css/extension/style.css">
        <link rel="stylesheet" href="../css/extension/bootstrap.min.css">
        <script src="../js/lib/jquery-3.3.1.min.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/utilities.js"></script>
        <script src="../js/extension/combat-journal.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="heading slate">
                <img src="../images/64.png" width="64">
                <h3 class="trn">Combat logs</h3>
            </div>
            <div id="buttons-wrapper">
                <div class="input-wrapper">
                    <label for="current-position">Overall rank.</label>
                    <input type="number" id="current-position" name="current-position" min="1" placeholder="Current rank" value=5>
                </div>
                <button class="save-button" id="save">Save</button>
            </div>
            <br>
        </div>
    </body>
</html>